/* Similar.css */
.similar-movies-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: flex-start;
  width: max-content;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.card-similar {
  width: 220px;
  padding: 5px;
  background-color: #111111;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(253, 253, 253, 0.5);
  margin-right: 20px;
}

.card-similar .img-similar {
  width: 100%;
  height: 320px;
  border-radius: 8px;
}

.title-similar {
  color: red;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: 5px;
}

.release-similar {
  font-size: 16px;
}
